<div class="grid-container">
  <h1 class="mat-h1"></h1>
  <mat-grid-list cols="3" rowHeight="715px">
    <mat-grid-tile *ngFor="let card of pagedList" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="cardTitleBlock">
            <span class="cardTitle">{{card.surname}} {{card.name}} {{card.middlename}}</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content border">
          <div class="imgdiv"><img src="{{card.photo}}" alt="Фото врача"></div>
          <div class="card-text-content">
            <p><a class="info">Клиника: {{card.clinicid.clinicName}}</a></p>
            <p><a class="info">Адрес: {{card.clinicid.address}}</a></p>
            <p><a class="info">Специализация: {{card.specializationid.specializationname}}</a></p>
            <p><a class="info">Должность: {{card.postid.postName}}</a></p>
            <p><a class="info">Категория: {{card.category}}</a></p>
            <p><a class="info">Рейтинг: {{card.rating}}</a></p>
            <button mat-button class="servicebtn " (click)="Schedule(card.id)">Посмотреть расписание врача</button>
            <button mat-button class="servicebtn" (click)="AllServices(card.id)">Посмотреть список услуг</button>
          </div>
          <div class="centerdiv">
            <a mat-raised-button color="primary" class="more-button" (click)="NewApp(cards.indexOf(card), card.id)">
              Записаться на приём</a>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator class="pagination"
                 [length]="cardLength"
                 [pageSize]="3"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
