.grid-container {
  margin: 20px;
}

.info {
  border-bottom: 1px solid rgba(174, 163, 178, 0.52);
}

.servicebtn {
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
  color: black;
  background-color: #dbc9ff;
  margin-bottom: 10px;
}

.pagination {
  background-color: #fbf1ff;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
  color: black;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-text-content {
  border-style: groove;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.card-main-text {
  font-weight: bold;
}

.dashboard-card-content {
  text-align: left;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.imgdiv {
  align-self: center;
}

.centerdiv {
  align-self: center;
}

img {
  width: 210px;
  height: 210px;
}

.cardTitle {
  width: 60px;
  word-wrap: break-word;
  text-align: center;
}

.more-button {
  width: 230px;
  font-size: 19px;
  margin-top: 25px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.74);
  color: black;
  font-weight: 500;
  background-color: #dbc9ff;
}
