<h1 class="mat-dialog-title">Расписание работы врача</h1>
<!--<div mat-dialog-content>-->
<!--      <div *ngFor="let services of data" >{{services.service.servicesName}} </div>-->
<!--</div>-->
<mat-table class="schedule-table" [dataSource]="dataSource">

  <ng-container matColumnDef="day">
    <mat-header-cell *matHeaderCellDef>День недели</mat-header-cell>
    <mat-cell class="day-cell"
              *matCellDef="let data">{{getWeekDay(data.day)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cabinet">
    <mat-header-cell *matHeaderCellDef>Кабинет</mat-header-cell>
    <mat-cell class="cabinet-cell"
              *matCellDef="let data">{{data.cabinet}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef>Время</mat-header-cell>
    <mat-cell class="time-cell"
              *matCellDef="let data">{{data.starttime[0]}}:{{data.starttime[1]}}0
      - {{data.stoptime[0]}}:{{data.stoptime[1]}}0</mat-cell>
  </ng-container>

  <ng-container matColumnDef="durationofreception">
    <mat-header-cell *matHeaderCellDef>Продолжительность 1 приёма</mat-header-cell>
    <mat-cell class="durationofreception-cell"
              *matCellDef="let data">{{data.durationofreception[0]}} часа
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
